<p>Welcome to Ultimate Tournament!</p>

<p>
  I just wanted to check in and offer my assistance.

  If you'd like you can <a href="https://calendly.com/kevinhughes27" target="_blank">book a demo</a>
  and I can show you how Ultimate Tournament can help with your event.
<p>

<p>
  I'm also available by email for any questions and feedback you may have.
</p>

<p>
  Cheers
  </br>
  Kevin
</p>
