<p>You've been added to <strong><%= @tournament.name %></strong></p>

<p>The tournament link is <%= link_to @tournament.url, @tournament.url %></p>

<p>To log in to the admin use this link <%= link_to @tournament.admin_url, @tournament.admin_url %></p>
