<div class="modal fade" id="confirmResetModal"context="confirmResetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Confirm Reset</h4>
      </div>

      <div class="modal-body">
        <p>
          Please enter <mark><%= @tournament.handle %></mark> below to confirm that you
          want to reset all the data for this tournament.
        </p>

        <input type="text" bind="input" class="form-control">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to 'Reset', admin_reset_path,
          method: :post,
          class: 'btn btn-danger js-btn-loadable',
          "bind-class" => "{disabled: input != '#{@tournament.handle}'}" %>
      </div>
    </div>
  </div>
</div>
