.env

# Ignore bundler config.
/.bundle

# ignore local node modules
*node_modules*
*npm-debug.log*

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.~*
*.mp4
*.dump

# test outputs
test/coverage
*test/reports

# ssl
server.crt
server.csr
server.key
server.pass.key

# Generated js bundles
/public/webpack/*
