.env

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.~*
*.mp4
*.dump

# javascript
/public/packs
/public/packs-test
*node_modules*
*yarn-debug.log*
*npm-debug.log*

# test outputs
test/coverage
*test/reports

# ssl
server.crt
server.csr
server.key
server.pass.key

# deploy
deploy_key.md
