.env

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# ignore bower files
/vendor/assets/bower_components

# ignore local node modules
/node_modules/*
npm-debug.log

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.~*
*.mp4
*.dump

# test outputs
test/coverage
test/javascripts/coverage
test/reports
