//
// Modals
// --------------------------------------------------

.modal {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.25s ease-in-out);
  @include transform(scale(0.9));

  // Active modal
  &.active {
    height: 100%;
    opacity: 0.7;
    visibility: visible;
    @include transform(scale(1.0));
  }
}
