<div class="container">
  <h1>New Tournament</h1>
  <%= form_for @tournament, url: new_path do |form| %>
    <%= render 'admin/tournaments/form', form: form %>
  <% end %>
</div>

<script>
  $( document ).ready(function() {
    tournamentMap = new Admin.Map(
      <%= @tournament.map.location %>,
      <%= @tournament.map.zoom %>
    );
  });
</script>
