<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">Confirm Deletion</h4>
    </div>

    <div class="modal-body">
      <p id="message"><%= @message %></p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <% if @allowed != false %>
        <%= button_tag 'delete', class: 'btn btn-danger js-btn-loadable',
            'bind-event-click' => "Admin.DeleteWithCheck(
              '#{@path}',
              true
            )" %>
      <% end %>
    </div>
  </div>
</div>
