<% if errors.present? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <h4>
      <i class="icon fa fa-warning"></i>
      There was <%= pluralize(errors.count, "error") %> with this <%= name %>:
    </h4>

    <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
