<div class="js-flash flash <%= 'error' if flash_error? %> hide">
  <button type="button" class="close" bind-event-click="Admin.Flash.hide()">×</button>
  <b class="js-flash-message <%= 'error' if flash_error? %>"><%= flash_message %></b>
</div>
