<div id="flash" style="z-index: 9999;" class="hide" bind-event-click="Admin.Flash.hide()">
  <a href="#" class="close">×</a>
  <b id="flash-message" class="<%= 'error' if flash_error? %>"><%= flash_message %></b>
</div>
