<% content_for :top_bar_left do %>
  <i class="fa fa-calendar"></i>
  Schedule
<% end %>

<% if @games.present? %>
  <%= render 'editor' %>
<% else %>
  <div class="blank-slate">
    <h3>Create the Schedule for your Tournament</h3>
    <p>
      After you create Divisions you'll be able to make your schedule on this page.
    </p>
    <%= link_to 'Go to Divisions', admin_divisions_path, class: "btn btn-primary" %>
  </div>
<% end %>
