<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-list"></i>
    Games
  </div>
<% end %>

<%= admin_content do %>
  <%= react_component('Admin.GamesIndex', {
    games: render(template: 'admin/games/games.json.jbuilder'),
    searchColumns: [
      "name",
      "division"
    ],
    filters: [
      {text: 'Open Division', key: 'division', value: 'Open'},
      {text: 'Womens Division', key: 'division', value: 'Women'},
      {text: 'Coed Comp Division', key: 'division', value: 'Coed Comp'},
      {text: 'Junior Open Division', key: 'division', value: 'Junior Open'},
      {text: 'Has teams', key: 'has_teams', value: 1},
      {text: 'Scores submitted', key: 'has_score_reports', value: 1},
      {text: 'Nothing submitted', key: 'has_score_reports', value: 0},
      {text: 'With score', key: 'has_score', value: 1},
      {text: 'No score', key: 'has_score', value: 0},
      {text: 'Confirmed', key: 'confirmed', value: 1},
      {text: 'Unconfirmed', key: 'confirmed', value: 0},
      {text: 'Finished', key: 'played', value: 1},
    ]
  }) %>
<% end %>
