<div class="container-fluid" define='{
  gamesTable: new Admin.GamesTable(
  )}'
  context='gamesTable'>
  <h1>Games</h1>

  <div id="games">
    <div class="input-group" style="padding-bottom: 15px;">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      <input class="search form-control" placeholder="Search" />
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Field</th>
          <th>Score</th>
        </tr>
      </thead>

      <tbody class="list">
        <% @games.group_by{|g| g.start_time }.each do |time, games| %>
          <%= render "time_row", time: time %>
          <% games.each do |game| %>
            <%= render 'game', tournament: @tournament, game: game %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $( document ).ready(function() {
    var gamesList = new List('games', {
      valueNames: ['name', 'field', 'score']
    });
  });
</script>
