<% content_for :top_bar_left do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-list"></i>
    Games
  </div>
<% end %>

<%= admin_content do %>
  <%= react_component('Admin.GamesIndex',
    render(template: 'admin/games/games.json.jbuilder')) %>
<% end %>
