<div class="section section-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p style="padding-bottom: 20px;">Who is using Ultimate Tournament?</p>
        <div class="row">
          <div class="col-md-3">
            <a href="http://www.ocua.ca/" target="_blank">
              <%= image_tag "brochure/ocua.png", class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://www.bfpultimate.com/tournament.html" target="_blank">
              <%= image_tag "brochure/bici16.jpg", class: 'img-responsive' %>
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://noborders.ocua.ca/" target="_blank">
              <%= image_tag "brochure/no-borders.png", class: 'img-responsive' %>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <p style="padding-bottom: 20px;">As seen on:</p>
        <a href="http://alecorgera.com/3-ultimate-programs-revolutionizing-social-good-sports/" target="_blank">
          <%= image_tag "brochure/alecorgera.png", class: 'img-responsive' %>
        </a>
      </div>
    </div>
  </div>
</div>
