<footer class="footer">
  <div class="container">
    <nav class="pull-left copyright">© 2016
      Ultimate Tournament
    </nav>
    <div class="pull-right copyright">
      Photo credit: <a href="http://audl.tv/2015/11/23/highlight-reel-barrs-lang/" target="_blank">audl.tv</a>
    </div>
  </div>
</footer>
