<div class="parallax filter-gradient gray" data-color="gray">
  <div class="parallax-background">
    <%= image_tag 'brochure/hero.jpg' %>
  </div>

  <div class="container">
    <div class="row" style="padding-top: 50px;">

      <div class="col-sm-5 hidden-xs">
        <div class="parallax-image">
          <%= image_tag 'brochure/iphone.png' %>
        </div>
      </div>

      <div class="col-sm-6 col-xs-offset-1 animated fadeInDown">
        <div class="description">
          <h3>Cloud Tournament Management</h3>
          <br>
          <h5>
            <strong>Ultimate Tournament</strong> is a complete software suite for creating and managing
            Ultimate Frisbee tournaments. It's time to simplify tournament planning.
          </h5>
        </div>

        <div class="buttons">
          <%= link_to "Get Started", "#animatedModal",
              class: "btn btn-neutral btn-lg signupModal",
              "track-click" => "{category: 'Brochure.HeroSignup', action: 'click'}" %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section section-gray section-clients">
  <div class="container text-center">
    <h4 class="header-text">Manage tournaments like its 2016!</h4>
    <p>
      This free product will allow you to easily organize your tournament from start to finish. You can do
      everything from entering teams, managing divisions, creating schedules and digital score reporting.
      Share tournament information such as schedules, scores, and fields with your participants through
      your unique tournament page.
    </p>
    <br>
  </div>
</div>
