<div class="section section-presentation">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="description">
          <h4 class="header-text">Clean and Simple</h4>
          <p>
            TLorem ipsum dolor sit amet, ut pro diam ubique mucius, cu nulla accusam volutpat vis.
            Ludus malorum honestatis cu qui, mea ex mucius melius consequat, brute iusto mucius at qui.
            Sonet perfecto ad quo, eu vim nostrum appareat. Eripuit inermis rationibus in sed,
            ferri fugit cotidieque ne vim. At alii natum quodsi eum.
          </p>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 hidden-xs">
        <%= image_tag 'landing/macbook.png' %>
      </div>
    </div>
  </div>
</div>
