<div class="section section-no-padding">
  <div class="full-background filter-gradient gray"
       style="background-image:url(<%= image_path('brochure/hero.jpg') %>); background-position: top;">
    <div class="container">
      <div class="info">
        <h1>Get started now for free!</h1>
        <%= link_to "Sign up", "#animatedModal", class: "btn btn-neutral btn-lg signupModal" %>
      </div>
    </div>
  </div>
</div>
