<div class="section section-testimonial">
  <div class="container">
    <h4 class="header-text text-center">Who is using Ultimate Tournament?</h4>
    <br>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag "landing/users.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
