<div class="container" style="background-color:#86E2D5;">
<br>
<div class="jumbotron">
	<div class="container">
		<h1 style="color:#86E2D5;">Ultimate Tournament</h1>

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tournaments">Tournaments</a></li>
			<li><a data-toggle="tab" href="#admin">Admin</a></li>
		</ul>

		<div class="tab-content">
			<div id="tournaments" class="tab-pane fade in active" style="padding-left:40px;">
				<br>
				<p>Click the link below to your tournament to find your game and enter your scores!</p>
				<div class="btn-group-vertical" role="group">
					<button type="button" class="btn btn-info btn-lg">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <a href="no-borders">No Borders</a>
					</button>
				</div>
			</div>
			<div id="admin" class="tab-pane fade" style="padding-left:40px;">
				<br>
				<p>Easily create tournaments and manage your teams!</p>
				<div class="btn-group-vertical" role="group">
					<button type="button" class="btn btn-info btn-lg">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <%= link_to "New Tournament", new_tournament_admin_path %>
					</button>
					<button type="button" class="btn btn-info btn-lg">
						<span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= link_to "My Tournaments", tournament_admins_path %></h3>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="no-borders" class="thumbnail">
		      <img src="/imgs/nobo.png" alt="no borders logo" class="img-responsive center-block" />
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="http://rhok.ca/" class="thumbnail">
		      <img src="/imgs/rhok.png" alt="random hacks of kindness logo" class="img-responsive center-block" />
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="http://www.ocua.ca" class="thumbnail">
		      <img src="/imgs/ocua.png" alt="ocua logo" class="img-responsive center-block" />
		    </a>
		  </div>
		</div>
	</div>
</div>
</div>
