<div class="container" style="background-color:#86E2D5;">
<br>
<div class="jumbotron">
	<div class="container">
	    <h1 style="color:#86E2D5;">Tournament App</h1>
	    <p>Easily create tournaments and manage your teams!</p>
	    <div class="btn-group-vertical" role="group">
			<button type="button" class="btn btn-info btn-lg">
			  	<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <%= link_to "New Tournament", new_tournament_path %>
			</button>
			<button type="button" class="btn btn-info btn-lg">
			  	<span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= link_to "My Tournaments", tournaments_path %></h3>
			</button>
		</div>
	  </div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img src="/imgs/nobo.png" alt="no borders logo" class="img-responsive center-block" />
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img src="/imgs/rhok.png" alt="random hacks of kindness logo" class="img-responsive center-block" />
		    </a>
		  </div>
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img src="/imgs/ocua.png" alt="ocua logo" class="img-responsive center-block" />
		    </a>
		  </div>
		</div>

	</div>
</div>
</div>



