<div class="container-fluid">
  <h1>Brackets</h1>

    <% @teams.group_by{ |t| t.division }.each do |division, teams| %>
      <p><%= division %></p>
      <%= bracket_select %>
      <p>save</p>
      <p>seed</p>
      <hr>
    <% end %>

</div>
