.btn {
  &.is-loading {
    background: white asset-data-url("loading-spinner.gif") 50% 50% no-repeat;
    background-size: auto 80%;
    color: transparent;
    border-color: #757575;
  }
  &:focus {
    outline: 0;
  }
}
