/*
 * Component: flash
 * based on AdminLTE flash
 * ----------------
 */

.flash {
  position: fixed;
  padding: 0;
  margin: 0;
  bottom: 0;
  left: 110px; // admin lte sidebar width / 2
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  @include border-radius-same(3px);
  h4 {
    font-weight: 600;
  }
  .icon {
    margin-right: 10px;
  }
  .close {
    color: #000;
    @include opacity(.2);
    &:hover {
      @include opacity(.5);
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

//Alert Variants
.flash-success {
  @extend .bg-green;
  border-color: darken($green, 5%);
}
.flash-danger,
.flash-error {
  @extend .bg-red;
  border-color: darken($red, 5%);
}
.flash-warning {
  @extend .bg-yellow;
  border-color: darken($yellow, 5%);
}
.flash-info {
  @extend .bg-aqua;
  border-color: darken($aqua, 5%);
}
