.modal.fullscreen {
  .modal-header {
    border: none;
  }
  .modal-dialog {
    top: -10px;
    margin: 0px;
  }

  .animated {
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -ms-animation-duration: 0.25s;
    -o-animation-duration: 0.25s;
  }
}
