.register-page {
  min-height: 90%;
  height: 90%;
}

#closebt-container {
  position: relative;
  width:100%;
  text-align:right;
  margin-top:40px;
  padding-right:40px;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
}

.closebt:hover {
  transform:rotate(90deg);
}
