.games {
  padding-bottom: 20px;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  text-align: center;

  color: white;
  background-color: #29e;
  border: solid 2px white;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.dropzone {
  min-width: 50px;
  min-height: 16px;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}
