$game-width: 80px;
$game-height: 40px;
$game-col-width: 220px;
$slot-width: 90px;
$slot-height: 50px;
$time-input-width: 170px;

.legend {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
}

.game {
  width: $game-width;
  height: $game-height;
  text-align: center;
  color: white;
  border: solid 2px white;
  p {
    margin: 0;
  }
}

#games-card {
  .table {
    width: auto;
  }
  td.game-col {
    h3 {
      margin-top: 0px;
    }
    border: none;
    max-width: $game-col-width;
    min-width: $game-col-width;
  }
}

.game-error {
  border-color: rgb(189, 79, 79) !important;
}

.dropzone {
  transition: background-color 0.3s;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.schedule-table {
  table {
    width: auto;
  }
  thead {
    background-color: white;
  }
  tbody > tr {
    line-height: $slot-height;
    min-height: $slot-height;
    height: $slot-height;
  }
  td.time {
    min-width: $time-input-width;
    max-width: $time-input-width;
  }
  td {
    min-width: $slot-width;
  }
}

.schedule_editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh - 80px);

  @media (max-width: $screen-xs-max) {
    height: calc(100vh - 120px);
  }

  #games-card {
    flex-basis: 30%;
    flex-grow: 2;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  #schedule-card {
    flex-basis: 30%;
    flex-grow: 3;
    overflow-x: scroll;
    overflow-y: scroll;
    .box-body {
      padding: 0px;
    }
  }
}
