$game-width: 80px;
$game-height: 40px;
$slot-width: 90px;
$slot-height: 50px;
$time-input-width: 160px;

.legend {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
}

.game {
  display: inline-block;
  min-width: $game-width;
  min-height: $game-height;

  text-align: center;

  color: white;
  border: solid 2px white;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;

  p {
    margin: 0;
  }
}

.game-error {
  border-color: rgb(189, 79, 79) !important;
}

.dropzone {
  transition: background-color 0.3s;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.schedule-table {
  padding-top: 20px;
  tbody > tr {
    line-height: $slot-height;
    min-height: $slot-height;
    height: $slot-height;
  }
  td.time {
    min-width: $time-input-width;
    input {
      padding-top: $slot-height / 2;
    }
  }
  td {
    min-width: $slot-width;
  }
}
