th.sort-header {
  a {
    display:block;
    width:100%;
  }
  &:hover {
    background-color: $table-bg-hover;
  }
}

td.table-link {
  a {
    display:block;
    width:100%;
  }
  &:hover {
    background-color: $table-bg-hover;
  }
}


td.td-input {
  padding:0 !important;
}

div.td-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

input.td-input {
  background-color: rgba(255,255,255,0);
  border: none;
  border-radius: 0px;
}
