<div class="col-xs-2">
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Pool <%= pool %></th>
      </tr>
    </thead>
    <tbody>
      <% home_teams = games.map{ |g| g.home } %>
      <% away_teams = games.map{ |g| g.away } %>
      <% teams = [home_teams, away_teams].flatten.uniq.compact %>
      <% teams.sort_by{ |t| t.seed || 1000 }.each do |team| %>
        <tr>
          <td><%= team.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
