div.awesomplete {
    display: block;
}

div.awesomplete > ul {
  top: 40px;
}

div.awesomplete mark {
  background-color: $gray;
}

div.awesomplete li:hover mark {
  background: hsl(200, 40%, 80%);
}

div.awesomplete li[aria-selected="true"] mark {
  background: hsl(205, 40%, 40%);
}
