.btn {
  &.is-loading {
    background: white asset-data-url("loading-spinner.gif") 50% 50% no-repeat;
    background-size: auto 80%;
    color: transparent;
    border-color: #757575;
  }
  &:focus {
    outline: 0;
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
