.device-column {
  z-index: 500;
  width: 330px;
  margin-left: 75px;
  margin-right: 75px;
  height: 100%;
  position: fixed;
}

.col-offset-480{
  padding-left: 480px;
  @media (max-width: $screen-sm-max) {
    padding-left: 20px;
  }
}

.device {
  position: relative;
  display: block;
  width: 327px;
  height: 691px;
  font-family: "Helvetica Neue", sans-serif;
  background-image: image_url("device-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 300% 300%;
    background-size: 300%;
  -webkit-transition: background-image .1s linear;
  -o-transition: background-image .1s linear;
    transition: background-image .1s linear;
}

.device-content {
  position: absolute;
  top: 90px;
  left: 27px;
  width: 273px;
  height: 484px;
  overflow: hidden;
  font-size: 17px;
  line-height: 21px;
  background-color: #fff;
}

.device-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
