<div class="container-fluid">
  <h1>Score Reports</h1>

  <div id="score-reports">
    <div class="input-group" style="padding-bottom: 15px;">
      <div class="input-group-addon">
        <i class="fa fa-search"></i>
      </div>
      <input class="search form-control" placeholder="Search" />
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="sort-header">
            <a href="#" class="sort" data-sort="name">Game</a>
          </th>
          <th>Score</th>
          <th class="sort-header">
            <a href="#" class="sort" data-sort="submitted-by">Submitted by</a>
          </th>
          <th class="sort-header">
            <a href="#" class="sort" data-sort="submitted-at">Submitted at
          </th>
          <th>Rules Knowledge</th>
          <th>Fouls and Body Contact</th>
          <th>Fair-Mindedness</th>
          <th>Positive Attitude and Self-Control</th>
          <th>Communication</th>
          <th>Comments</th>
          <th class="sort-header">
            <a href="#" class="sort" data-sort="submitted-at">
              Confirmed
            </a>
            <a href="#" data-toggle="tooltip" data-placement="bottom" data-container="body" data-html="true"
            title="<p>the games score has been confirmed (not neccessarily that this report is.)</p>
                   <p>View the games screen to update the score if required</p>">
              <i class="fa fa-question-circle"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody class="list">
        <% @score_reports.sort_by{ |r| r.game.confirmed? ? 1 : 0 }.each do |report| %>
          <%= render 'score_report', report: report %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $( document ).ready(function() {
    var reportList = new List('score-reports', {
      valueNames: [
        'name',
        'score',
        'submitted-by',
        'submitted-at',
        'comments',
        'confirmed'
      ]
    });
    reportList.sort('submitted-at', { order: "desc" });

    $("[data-toggle=tooltip]").tooltip();
  });
</script>
