<div class="container-fluid">
  <h1>Score Reports</h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Game</th>
        <th>Score</th>
        <th>Submitted by</th>
        <th>Submitted at</th>
        <th>Rules Knowledge</th>
        <th>Fouls and Body Contact</th>
        <th>Fair-Mindedness</th>
        <th>Positive Attitude and Self-Control</th>
        <th>Communication</th>
        <th>Comments</th>
        <th>
          <a data-toggle="tooltip" data-placement="bottom" data-container="body" data-html="true"
           title="<p>the games score has been confirmed (not neccessarily that this report is.)</p>
           <p>View the games screen to update the score if required</p>">
            Game Confirmed
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @score_reports.sort_by{ |r| r.game.confirmed? ? 1 : 0 }.each do |report| %>
        <%= render 'score_report', report: report %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $( document ).ready(function() {
    $("[data-toggle=tooltip]").tooltip();
  });
</script>
