<div class="timeline-body">
  <div class="row">
    <div class="col-md-6">
      Once your tournament starts you'll need to manage incoming scores.
      Team captains will get score submission emails allowing them to confirm scores.
    </div>
    <div class="col-md-6">
      <%= link_to admin_games_path do %>
        <div class="small-box bg-red">
          <div class="inner">
            <h3><%= @tournament.score_reports.count %></h3>
            <p>Scores Reported</p>
          </div>
          <div class="icon">
            <i class="fa fa-trophy"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
