<% content_for :top_bar_left do %>
  <i class="fa fa-home"></i>
  Home
<% end %>

<%= admin_content do %>
  <div class="callout callout-success">
    Welcome to Ultimate Tournament!
  </div>
<% end %>
