@import 'mixins';

.search-bar {
  padding-top: 10px;
  background-color: transparent;
  border: none;
}

.bar .btn-find {
  background-color: rgba(0, 122, 255, 0.5);
  color: white;
  font-size: 18px;
  border-width: 1.5px;
  padding: 8px 12px;
  @include border-radius(7.5px);
  position: relative;
  top: -8px;
  .fa {
    position: relative;
    bottom: 1px;
    padding-left: 2px;
  }
}
