.bar-standard {
  border: none;
}

.title {
  color: inherit;
}

.bar-footer {
  background-color: transparent;
  border: none;
}

.bar-footer-secondary {
  border: none;
}

.content > .table-view:first-child {
  margin-top: 0px;
}
