@import 'ratchet/variables';
@import 'ratchet/mixins';
@import 'mixins';

.hide {
  display: none;
  visibility: hidden;
}

.bar-tblue {
  background-color: rgba(0, 122, 255, 0.5);
  border: none;
  color: white;
}

.bar-blue {
  background-color: rgb(0, 122, 255);
  border: none;
  color: white;
}

.transparent {
  opacity: 0.8;
}

.subdued {
  color: rgb(128,128,128);
}

.center {
  text-align: center;
}

.nav-btn {
  padding: 0 10px 0 10px;
  margin: 0 (-$bar-side-spacing);
  font-size: $font-size-default;
  font-weight: $font-weight;
  line-height: $bar-base-height;
  color: white;
  position: relative;
  z-index: 11;

  &:active {
    color: white;
  }

  .icon {
    font-size: 1em;
  }
}

.search-bar {
  padding-top: 10px;
  background-color: transparent;
  border: none;
}

.score-input {
    width: 45%;
}

.bar .btn-find {
  background-color: rgba(0, 122, 255, 0.5);
  color: white;
  font-size: 18px;
  border-width: 1.5px;
  padding: 8px 12px;
  @include border-radius(7.5px);
  position: relative;
  top: -8px;
  .fa {
    position: relative;
    bottom: 1px;
    padding-left: 2px;
  }
}

.btn-green {
  color: #78A874;
}

.btn-invis {
  border: none;
  &:active {
    background-color: white;
  }
}

.arrow {
  height: 85%;
  padding-top: 20%;
}

.score-inputs {
  display: flex;
  text-align: center;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.score-label {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
}

input.score-input {
  font-size: 24px;
  height: 48px;
  text-align: center;
}

.form-grid {
  flex: 0 1 47%;
}

.form-grid-spacer {
  flex-basis: 14%;
  line-height: 104px;
}

.radio-control {
  padding: 5px 0 5px 10px;
}

.team-search {
  padding-top: 5px;
  color: black;
}

.awesomplete {
  min-width: 100%;
  padding-left: 5px;
  line-height: 1.5;
  border-radius: 5px;
}
