.hidden {
  display: none;
  visibility: hidden;
}

.center {
  text-align: center;
}

.btn-find {
  background-color: rgba(0, 122, 255, 0.5);
  color: white;
}

.arrow {
  height: 85%;
  padding-top: 20%;
}
