@mixin transform($transform...) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

.hidden {
  display: none;
  visibility: hidden;
}

.center {
  text-align: center;
}

.btn-find {
  background-color: rgba(0, 122, 255, 0.5);
  color: white;
  font-size: 17px;
  border-width: 2px;
  .icon-caret {
    position: relative;
    top: 0px !important;
    @include transform(rotate(180deg));
    font-size: 1em;
  }
}

.arrow {
  height: 85%;
  padding-top: 20%;
}
