.submit-search {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 15;
}

.score-labels {
  display: flex;
  text-align: center;
  padding-top: 10%;
  padding-left: 15%;
  padding-right: 15%;
}

.score-inputs {
  display: flex;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.score-label {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
}

.score-input {
  width: 45%;
}

input.score-input {
  font-size: 24px;
  height: 48px;
  text-align: center;
}

.form-grid {
  flex: 0 1 47%;
}

.form-grid-spacer {
  flex-basis: 14%;
  line-height: 48px;
}

.radio-control {
  padding: 5px 0 5px 10px;
}

.radio-group {
  padding-bottom: 24px;
}

.btn-bottom {
  margin-bottom: 0px;
}

.success-icon {
  padding-top: 160px;
  padding-bottom: 50px;
  color: $positive-color;
}

.warning-icon {
  padding-top: 160px;
  padding-bottom: 50px;
  color: $negative-color;
}

@keyframes bounceIn {
  from, 20%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.5, .5, .5);
  }

  80% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: .75s;
}
