<!-- main-view -->
<div class="bar bar-nav bar-tblue">
  <a class="nav-btn pull-left" href="#" bind-event-click="scheduleScreen.show()" track-click="{category: 'Main', action: 'ViewSchedule'}">
    <i class="fa fa-list-alt"></i> Schedule
  </a>
  <a class="nav-btn pull-right" href="#" bind-event-click="submitScoreScreen.show()" track-click="{category: 'Main', action: 'SubmitScore'}">
    Submit a score <i class="fa fa-star-half-o"></i>
  </a>
</div>

<div class="bar bar-standard bar-header-secondary search-bar hide" bind-show="!!fieldSearchOpen">
  <input id="main-field-search" class="awesomplete" type="text" placeholder="Start typing a field name or number..."
    data-minchars="1"
    data-list="<%= @fields.map{ |t| t.name }.join(', ') %>"
    bind-event-change="fieldSelected(event)"
    bind-event-click="fieldSelected(event)"
    bind-event-keyup="fieldSelected(event)"
    bind-event-blur="searchBlur()">
</div>

<div class="bar bar-standard bar-header-secondary search-bar hide" bind-show="!!teamSearchOpen">
  <input id="main-team-search" class="awesomplete" type="text" placeholder="Start typing a team name..."
    data-minchars="1"
    data-list="<%= @teams.map{ |t| t.name }.join(', ') %>"
    bind-event-change="teamSelected(event)"
    bind-event-click="teamSelected(event)"
    bind-event-keyup="teamSelected(event)"
    bind-event-blur="searchBlur()">
</div>

<div class="bar bar-standard bar-header-secondary transparent hide" bind-show="!!findingField">
  <a class="nav-btn pull-right" href="#" bind-event-click="finishPointToField()">
    <i class="fa fa-times-circle fa-lg"></i>
  </a>
  <h1 class="title" bind="findText"></h1>
</div>

<div class="bar bar-standard bar-footer">
  <a class="btn btn-find pull-right" href="#" bind-event-click="drawerOpen = true" bind-show="!(drawerOpen || scheduleScreen.active)">
    Find <i class="fa fa-caret-up"></i>
  </a>
</div>

<div class="content content-loading center">
  <%= image_tag "balls.gif", style: "padding-top: 25vh;" %>
</div>

<div id="map"
     style="z-index: 0; position: absolute; width: 100%; height: 100%;"
     define="initializeMap()"
     data-turbolinks-permanent>
</div>
<!-- end main-view -->


<!-- find-drawer -->
<div id="drawer" class="drawer" bind-class="{active: drawerOpen}">
  <div class="content transparent">
    <button class="btn btn-primary btn-block btn-outlined" bind-event-click="showFieldSelect()" track-click="{category: 'Main', action: 'FindField'}">Find a field</button>
    <button class="btn btn-primary btn-block btn-outlined" bind-event-click="showTeamSelect()" track-click="{category: 'Main', action: 'FindTeam'}">Find a team</button>
  </div>

  <div class="bar bar-standard bar-footer">
    <a class="pull-right" href="#" bind-event-click="drawerOpen = false" track-click="{category: 'Main', action: 'CloseDrawer'}">Back to map</a>
  </div>
</div>
<!-- end find-drawer -->
