<!-- main-view -->
<div class="bar bar-nav bar-tblue">
  <a class="nav-btn pull-left" href="#" bind-event-click="app.showScheduleScreen()">
    <i class="fa fa-list-alt"></i> Schedule
  </a>
  <a class="nav-btn pull-right" href="#" bind-event-click="app.submitScoreScreenA = true">
    Submit a score <i class="fa fa-star-half-o"></i>
  </a>
</div>

<div class="bar bar-standard bar-header-secondary search-bar hide" bind-show="!!app.fieldSearchOpen">
  <input id="main-field-search" class="awesomplete" type="text" placeholder="Start typing a field name or number..."
    data-minchars="1"
    data-list="<%= @fields.map{ |t| t.name }.join(', ') %>"
    bind-event-change="app.fieldSelected(event)"
    bind-event-click="app.fieldSelected(event)"
    bind-event-keyup="app.fieldSelected(event)"
    bind-event-blur="app.searchBlur()">
</div>

<div class="bar bar-standard bar-header-secondary search-bar hide" bind-show="!!app.teamSearchOpen">
  <input id="main-team-search" class="awesomplete" type="text" placeholder="Start typing a team name..."
    data-minchars="1"
    data-list="<%= @teams.map{ |t| t.name }.join(', ') %>"
    bind-event-change="app.teamSelected(event)"
    bind-event-click="app.teamSelected(event)"
    bind-event-keyup="app.teamSelected(event)"
    bind-event-blur="app.searchBlur()">
</div>

<div class="bar bar-standard bar-header-secondary transparent hide" bind-show="!!app.findingField">
  <a class="nav-btn pull-right" href="#" bind-event-click="app.finishPointToField()">
    <i class="fa fa-times-circle fa-lg"></i>
  </a>
  <h1 class="title" bind="app.getFindText()"></h1>
</div>

<div class="bar bar-standard bar-footer">
  <a class="btn btn-find pull-right" href="#" bind-event-click="app.drawerOpen = true" bind-show="!(app.drawerOpen || app.scheduleScreen)">
    Find <i class="fa fa-caret-up"></i>
  </a>
</div>

<div class="content content-loading center">
  <%= image_tag "balls.gif", class: 'loading-gif' %>
</div>

<div id="map-canvas" style="position: absolute; width: 100%; height: 100%;"></div>
<!-- end main-view -->


<!-- find-drawer -->
<div class="drawer" bind-class="{active: app.drawerOpen}">
  <div class="content transparent">
    <button class="btn btn-primary btn-block btn-outlined" bind-event-click="app.showFieldSelect()">Find a field</button>
    <button class="btn btn-primary btn-block btn-outlined" bind-event-click="app.showTeamSelect()">Find a team</button>
  </div>

  <div class="bar bar-standard bar-footer">
    <a class="pull-right" href="#" bind-event-click="app.drawerOpen = false">Back to map</a>
  </div>
</div>
<!-- end find-drawer -->
