<div class="radio-group">
  <div class="radio-control">
    <%= radio_button_tag field, 'poor' %>
    <label for="poor">Poor</label>
  </div>
  <div class="radio-control">
    <%= radio_button_tag field, 'not-good' %>
    <label for="not-good">Not Good</label>
  </div>
  <div class="radio-control">
    <%= radio_button_tag field, 'good', true %>
    <label for="good">Good</label>
  </div>
  <div class="radio-control">
    <%= radio_button_tag field, 'very-good' %>
    <label for="very-good">Very Good</label>
  </div>
</div>
