<div class="bar bar-nav bar-blue">
  <h1 class="title">Score Confirmed!</h1>
</div>

<div class="content-padded">
  <div class="center">
    <div class="success-icon bounceIn">
      <i class="fa fa-check fa-5x"></i>
    </div>
    <p id="success-msg">
      Thanks for confirming the score.
    </p>
  </div>
</div>
