<div id="map-canvas" style="position: absolute; width:100%; height: 100%;"></div>

<div class="container-fluid">
  <nav class="navbar transparent navbar-fixed-bottom">
    <div class="container">

        <button class="btn dropdown pull-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Fields</a></li>
          </ul>
        </button>

    </div>
  </nav>
</div>

<script>
  $( document ).ready(function() {
    appMap = new TournamentApp.AppMap(
      <%= @tournament.location %>,
      <%= @tournament.zoom %>,
      <%= raw @fields.to_json %>
    );
  });
</script>
