<div class="bar bar-nav bar-blue">
  <h1 class="title">Token not found</h1>
</div>

<div class="content-padded">
  <div class="center">
    <div class="warning-icon bounceIn">
      <i class="fa fa-exclamation-triangle fa-5x"></i>
    </div>
  </div>
</div>
