<div class="register-box animated <%= login_animation %>">
  <div class="register-logo">
    Ultimate Tournament
  </div>

  <div class="register-subtext">
    <p>Choose tournament</p>
  </div>

  <div class="register-box-body">
    <% current_user.tournaments.each do |tournament| %>
      <%= form_tag(choose_tournament_path) do |f| %>
        <%= hidden_field_tag :tournament, tournament.handle %>
        <%= submit_tag tournament.name, class: 'btn btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>
