<div class="login-container">
  <div class="card-panel">
    <span class="login-form-copy">
      Choose tournament:
    </span>

    <div style="padding-top: 10px">
      <% current_user.tournaments.each do |tournament| %>
        <%= form_tag choose_tournament_path do |f| %>
          <%= hidden_field_tag :tournament, tournament.handle %>
          <%= submit_tag tournament.name, class: 'btn btn-flat' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
