<div define="{bracket: new Admin.Bracket(this)}">
  <%= ui_box do %>
    <div class="row">
      <div id="bracketDescription" class="col-md-10">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div id="bracketPools"></div>
      </div>
      <div class="col-md-8 pull-right">
        <div id="bracketGraph" style="height: 440px;"></div>
      </div>
    </div>
    <div id="visConfigure"></div>
  <% end %>
</div>
