<% if flash[:seed_error].present? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <h4>
      <i class="icon fa fa-warning"></i>
      There was an error seeding your division:
    </h4>

    <ul>
      <li><%= flash[:seed_error] %></li>
    </ul>
  </div>
<% end %>
