<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">Confirm Update Teams</h4>
    </div>

    <div class="modal-body">
      <p>
        There are games in this division that have been
        scored. In order to update teams' seeds you need to delete or
        seed this division to reset the games.
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
