.leaflet-container {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: -125px;
}

.leaflet-search-control-info {
  border: 2px solid white;
}

.leaflet-search-control-info-li {
  border-bottom: 1px solid #E0E0E0;
}

.leaflet-search-control-info-li.active,
.leaflet-search-control-info-li.active:hover {
  background-color: #4dacf580;
}
.leaflet-search-control-info-li:hover {
  background-color: #4dacf53f;
}

.map-label {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.fields-editor-control {
  margin-left: 2px;
  height: 30px;
  line-height: 26px;
  font-size: 14px;
  border-radius: 2px;
  border-style: solid;
  background-color: white;
  border-color: white;
}
