#animatedModal {
  .modal-content {
    top: 8%;
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -133px;
    border-top: none;
    font-size: 10px;
    color: black;
    a:link, a:visited {
      color: black;
      text-decoration: underline;
    }
  }
  .btn-lg {
    line-height: 0.9;
  }
}

#closebt-container {
  position: relative;
  width:100%;
  text-align:right;
  margin-top:40px;
  padding-right:40px;
}

.closebt {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor:pointer;
}

.closebt:hover {
  transform:rotate(90deg);
}

.modal-content {
  border: none;
  padding: 20px 20px 10px 20px;

  .form-control {
    border-radius: 0;
  }
}
