.builder-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow-y: auto;

  // matches the spacing of the modal close btn
  .spacer {
    position: relative;
    padding-top:92px;
  }

  .subdued {
    color: #555555;
  }
}
