.builder-card {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow-y: auto;

  .modal-content {
    top:238px; // matches the spacing of the modal close btn
  }

  .btn-lg {
    padding: 12px 22px;
  }

  .subdued {
    color: #555555;
  }
}

.modal-content {
  display: table;
  max-width: 480px;
  min-width: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
