<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      <h4 class="modal-title">Unable to Update</h4>
    </div>

    <div class="modal-body">
      <p>
        There are games in this team's division that have been
        scored. In order to update this team you need to delete the
        <%= link_to @team.division.name, admin_division_path(@team.division) %>
        division first.
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
