<section class="content-header">
  <h1>
    Teams
  </h1>
</section>

<section class="content">
  <%= render 'shared/set_errors', set: @teams %>
  <div class="box">
    <div class="box-body">
      <%= react_component(
        'Admin.TeamsIndex',
        render(template: 'admin/teams/index.json.jbuilder'),
        {}) %>
    </div>
  </div>
</section>
