<% content_for :top_bar do %>
  <div class="navbar-brand page-title">
    <i class="fa fa-users"></i>
    Teams
  </div>

  <form class="navbar-form navbar-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importCsvModal">
      Import
    </button>
    <%= link_to 'New', new_tournament_admin_team_path(@tournament), class: "btn btn-primary" %>
  </form>
<% end %>

<%= render 'import_csv_modal' %>

<%= admin_content_box do %>
  <%= react_component(
    'Admin.TeamsIndex',
    render(template: 'admin/teams/index.json.jbuilder'),
    {}) %>
<% end %>
