<% content_for :top_bar do %>
  <div class="navbar-brand">
    Teams
  </div>

  <form class="navbar-form navbar-right">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importCsvModal">
      Import
    </button>
    <%= link_to 'New', new_tournament_admin_team_path(@tournament), class: "btn btn-default" %>
  </form>
<% end %>

<%= render 'import_csv_modal' %>

<section class="content">
  <div class="box">
    <div class="box-body">
      <%= react_component(
        'Admin.TeamsIndex',
        render(template: 'admin/teams/index.json.jbuilder'),
        {}) %>
    </div>
  </div>
</section>
