<style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
</style>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map-canvas"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script>
  $( document ).ready(function() {
    fieldCreator = new TournamentApp.FieldCreator(
      <%= @tournament.location %>,
      <%= @tournament.zoom %>
    );
  });
</script>
