<% if flash[:import_error].present? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <h4>
      <i class="icon fa fa-warning"></i>
      There was an error with your CSV file:
    </h4>

    <ul>
      <li><%= flash[:import_error] %></li>
    </ul>
  </div>
<% end %>
