<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <title>Ultimate Tournament</title>
  <%= stylesheet_link_tag 'brochure', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'brochure', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>
  html,body {
    background-color: #3498DB;
  }
</style>

<body>
  <!-- this needs to go into a helper so I can change the animate class for error reloads -->
  <!-- different animation on navigate back to a step -->
  <div class="builder-container animated bounceInRight">
    <div class="spacer"></div>
    <div class="modal-content col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</body>
</html>
